@model CNPM_DOAN.Models.NGUOIDUNG

@{
    ViewBag.Title = "Informs";
    Layout = null;
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xoa Tai Khoan</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="~/MyCss/informs.css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body class="body-color">
    <div class="container d-flex" style="font-size:30px">
        <i></i>
        <a href="@Url.Action("showBaiTap", "BAITAPs", new { iduser = Session["IDUSER"] })">Quay về trang chủ</a>
    </div>
    <div class="con d-flex">
        @*khung trai*@
        <div class="khung-trai">
            <div class="d-flex align-items-center justify-content-center">
                @if (Model.Avatar != null)
                 {
                    <img src="@Url.Action("GetImage", "NGUOIDUNGs", new { id = Model.IDNguoiDung })" class="img-change" />
                 }
                else
                 {<img src="" alt="" class="img-change" />}
            </div>
            <div class="Item">
                <div><button class="mb-4 button-change" id="viewConCaNhanLink">@CNPM_DOAN.Resources.Language.Thông_tin_cá_nhân</button></div>
                <div><button class="mb-4 button-change" >@CNPM_DOAN.Resources.Language.Chỉnh_sửa_thông_tin_cá_nhân</button></div>
                <div><button class="mb-4 button-change" id="viewUpdateMatKhau">@CNPM_DOAN.Resources.Language.Đổi_mật_khẩu</button></div>
                <div><button class="mb-4 button-change" onclick="location.href='@Url.Action("Logout", "NGUOIDUNGs")'">@CNPM_DOAN.Resources.Language.Đăng_xuất</button></div>
            </div>
        </div>
        @*Khung phai*@
        <div class="khung-phai">
            <div id="partialViewContainer">@Html.Partial("ViewConCaNhan")</div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

@*Script Thong tin ca nhan*@
<script>
    $(document).ready(function () {
        // Intercept click event on the "Thông tin cá nhân" link
        $("#viewConCaNhanLink").click(function (e) {
            e.preventDefault(); // Prevent default link behavior

            // Use jQuery's ajax method to load the partial view
            $.ajax({
                url: '@Url.Action("ViewConCaNhan","NGUOIDUNGs", new { iduser = Session["IDUSER"]})',
                type: 'GET',
                success: function (result) {
                    // Load the result into the container
                    $("#partialViewContainer").html(result);
                },
                error: function (error) {
                    console.error(error);
                }
            });
        });
    });
</script>

@*Script doi mat khau*@
<script>
    $(document).ready(function () {
        // Intercept click event on the "Thông tin cá nhân" link
        $("#viewUpdateMatKhau").click(function (e) {
            e.preventDefault(); // Prevent default link behavior

            // Use jQuery's ajax method to load the partial view
            $.ajax({
                url: '@Url.Action("ViewConUpdateMatKhau","NGUOIDUNGs")',
                type: 'GET',
                success: function (result) {
                    // Load the result into the container
                    $("#partialViewContainer").html(result);
                },
                error: function (error) {
                    console.error(error);
                }
            });
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#myFile').on('change', function () {
            $('#submitForm').submit();
        });
    });
</script>