@model CNPM_DOAN.Models.NGUOIDUNG

@{
    ViewBag.Title = "updateMatKhau";
    Layout = null;
}
<body>
    <form class="p-viewsuamk" action="/NGUOIDUNGs/updateMatKhau?id=@Session["IDUSER"]" method="post">
        <h1 class="mb-4">@CNPM_DOAN.Resources.Language.Chỉnh_sửa_mật_khẩu</h1>
            <div class="mb-2">
                <p>@CNPM_DOAN.Resources.Language.Mật_khẩu_cũ</p>
                <input class="input-change-mk" type="password" name="matkhaucu" required>
            </div>
            <div class="mb-2">
                <p>@CNPM_DOAN.Resources.Language.Mật_khẩu_mới</p>
                <input class="input-change-mk" type="password" name="matkhaumoi" required>
            </div>
            <div class="mb-2">
                <p>@CNPM_DOAN.Resources.Language.Nhập_lại_mật_khẩu_mới</p> 
                <input class="input-change-mk" type="password" name="xacnhanmatkhaumoi" required>
            </div>
            <div class="button align-items-end justify-content-end d-flex" style="margin-top:40px;">
                <input class="btn btn-success" type="submit" value="@CNPM_DOAN.Resources.Language.Lưu" style="width: 30%; height: 50px; font-size:25px; ">
            </div>
    </form>
</body>
