@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/MyCss/global.css" />
<link rel="stylesheet" href="~/MyCss/gioithieu.css" />
<link rel="stylesheet" href="~/MyCss/mainpage.css" />
<style>
    body, html {
        height: 100%;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    .hero-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../MyImage/hs.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .hero-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }

        .hero-text button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 10px 25px;
            color: black;
            background-color: #ddd;
            text-align: center;
            cursor: pointer;
        }

            .hero-text button:hover {
                background-color: #555;
                color: white;
            }
</style>
<body>

    <div class="hero-image" style="position: absolute; width: 100%; top: 0px; right: 0px; font-family: Arial, Helvetica, sans-serif; color:white; z-index: -1;">
        <div>
            <div class="qun-l-hc-container">
                <p>@CNPM_DOAN.Resources.Language.QUẢN_LÍ_HỌC_TẬP_TRONG </p>
                <p class="gia-nh">@CNPM_DOAN.Resources.Language.GIA_ĐÌNH</p>
            </div>

            <div class="qun-l-d">
                @CNPM_DOAN.Resources.Language.Quản_lí_dữ_liệu_bài_tập_cho_học_sinh__an_toàn__nhanh_chóng
            </div>
            <div class="qun-l-im">
                @CNPM_DOAN.Resources.Language.Quản_lí_điểm__bài_tập_về_nhà__giao_bài_nhanh_chóng
            </div>
            <div class="tin-li-giao">
                @CNPM_DOAN.Resources.Language.Tiện_lợi__giao_diện_đơn_giản__dễ_dàng_sử_dụng_cho_học_sinh_và_phụ_huynh
            </div>
            <img class="checked-1-icon" alt="" src="~/MyImage/checked.png" />

            <img class="checked-2-icon" alt="" src="~/MyImage/checked.png" />

            <img class="checked-3-icon" alt="" src="~/MyImage/checked.png" />
            <div class="d-flex">
                <div class="frame-item"></div>
                <img class="open-book-1-icon" alt="" src="~/MyImage/open-book.png" />
                <b class="to-do-list" style="font-size:23px;">@CNPM_DOAN.Resources.Language.Danh_sách_nhiệm_vụ</b>
                <div class="frame-inner"></div>
                <b class="xem-im" style="font-size:23px;">@CNPM_DOAN.Resources.Language.Xem_Điểm</b>
                <div class="rectangle-div"></div>
                <b class="xem-tkb" style="font-size:23px;">@CNPM_DOAN.Resources.Language.Xem_Thời_khóa_biểu</b>
                <img class="grade-1-icon" alt="" src="~/MyImage/grade.png" />

                <img class="calendar-1-icon" alt="" src="~/MyImage/calendar.png" />
            </div>
            
        </div>
    </div>
</body>