
<link rel="stylesheet" href="~/MyCss/lienhe.css" />
<body>
    <div>
        @*phần trên*@
        <div class="con">
            <h1>
                @CNPM_DOAN.Resources.Language.Liên_hệ_với_chúng_tôi
            </h1>
            <p>@CNPM_DOAN.Resources.Language.Nếu_bạn_có_thắc_mắc_hoặc_cần_hỗ_trợ_hãy_liên_lạc_cho_chúng_tôi_thông_qua_các_cách_sau</p>
        </div>
        @*Phần dưới*@
        <div class="con-2">
            <div class="box" style="width:23vw;">
                <i class="fa fa-location-arrow icon" aria-hidden="true"></i>
                <span>
                    <p>@CNPM_DOAN.Resources.Language.Địa_chỉ:</p>
                    <p style="font-size:1.1vw;">@CNPM_DOAN.Resources.Language._10_Quốc_Lộ_22__Xã_Tân_Xuân__Huyện_Hóc_Môn__thành_phố_Hồ_Chí_Mình__Việt_Nam</p>
                </span>
            </div>
            <div class="box">
                <i class="fa fa-phone icon" style="margin-right:0px" aria-hidden="true"></i>
                <span>
                    <p>@CNPM_DOAN.Resources.Language.Điện_thoại:</p>
                    <p>1900-2543-890</p>
                </span>
            </div>
            <div class="box">
                <i class="fa fa-envelope icon" aria-hidden="true"></i>
                <span>
                    <p>Email:</p>
                    <p>daylightedu@gmail.com</p>
                </span>
            </div>
        </div>
    </div>  
</body>

