
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>...</title>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="~/MyCss/mainpage.css">
    <link rel="stylesheet" href="~/MyCss/login.css">
    <link rel="stylesheet" href="~/MyCss/register.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="~/MyJs/login.js"></script>
    <script src="~/MyJs/register.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
</head>
<body>
    <div class="overlay" id="overlayLo" onclick="showDangNhap()"></div>
    <div class="overlayRe" id="overlayRe" onclick="showDangKy()"></div>
    <div class="top-nav">
        <div class="col-3" style="margin:0px"><a href=""><img src="~/MyImage/logo-removebg-preview.png" class="logo"></a></div>
            <div class="col-7 text-start">
                <a href="@Url.Action("gioithieu","Home")">@CNPM_DOAN.Resources.Language.GIỚI_THIỆU</a>
                <a href="@Url.Action("lienhe","Home")">@CNPM_DOAN.Resources.Language.LIÊN_HỆ</a>
                <a href="@Url.Action("changeLanguage", "Home", new {language="en"})">English</a>
                <a href="@Url.Action("changeLanguage", "Home", new {language="vn"})">Vietnamese</a>
            </div>
            @if (Session["TENTAIKHOAN"] == null)
            {
                <div class="col-2 d-flex">
                    <a onclick="showDangNhap()">@CNPM_DOAN.Resources.Language.ĐĂNG_NHẬP</a>
                    <a onclick="showDangKy()">@CNPM_DOAN.Resources.Language.ĐĂNG_KÝ</a>
                </div>
            }
            else
            {
                <div class="col-2" style="padding-left:200px">
                    <a href="@Url.Action("Informs", "NGUOIDUNGs", new { iduser = Session["IDUSER"] })" class="nothover">
                        @if (Session["AVATAR"] != null)
                        {
                            <img src="@Url.Action("GetImage", "NGUOIDUNGs", new { id = Session["IDUSER"] })" class="img-change "/>
                        }
                        else
                        {
                            <img src="~/MyImage/logo-removebg-preview.png" class="img-change" />
                        }
                    </a>
                </div>
            }
    </div>
    @if (Session["TENTAIKHOAN"] != null)
    {
        <div class="menu" >
            @if (Session["IDUSER"].ToString().Contains("PH"))
            {
                <div class="menuitemPH uno" style="overflow:hidden;">
                    <a href="@Url.Action("showTKB","THOIKHOABIEUx", new { iduser = Session["IDUSER"]})">
                        <i class="fa-solid fa-calendar" ></i>
                        <span style="padding-left : 18px">@CNPM_DOAN.Resources.Language.Thời_khóa_biểu</span>
                    </a>
                </div>
                <div class="menuitemPH dos" style="overflow:hidden;">
                    <a href="@Url.Action("ShowToDo","TODOes", new { iduser = Session["IDUSER"]})">
                        <i class="fa-sharp fa-solid fa-clipboard-check" ></i>
                        <span>@CNPM_DOAN.Resources.Language.Danh_sách_nhiệm_vụ</span>
                    </a>
                </div>
                <div class="menuitemPH tres" style="overflow:hidden;">
                    <a href="@Url.Action("ShowMucTieu","MUCTIEUx", new { idus = Session["IDUSER"]})">
                        <i class="fa-solid fa-flag" ></i>
                        <span style="padding-left : 22px">@CNPM_DOAN.Resources.Language.Mục_tiêu</span>
                    </a>
                </div>
                <div class="menuitemPH cuatro" style="overflow:hidden;">
                    <a href="@Url.Action("showTaiLieuHocTap_PH", "TAILIEUx", new { iduser = Session["IDUSER"] })">
                        <i class="fa-solid fa-book" ></i>
                        <span style="padding-left : 22px">@CNPM_DOAN.Resources.Language.Tài_liệu_học_tập</span>
                    </a>
                </div>
                <div class="menuitemPH cuatro" style="overflow:hidden;">
                    <a href="@Url.Action("showNguoiDung", "NGUOIDUNGs", new { iduser = Session["IDUSER"] })">
                        <i class="fa-solid fa-user-group" ></i>
                        <span style="padding-left : 18px">@CNPM_DOAN.Resources.Language.Nhóm_học_tập</span>
                    </a>
                </div>
                <div class="menuitemPH cinco" style="overflow:hidden;">
                    <a href="@Url.Action("showBaiTap", "BAITAPs", new { iduser = Session["IDUSER"] })">
                        <i class="fa-solid fa-book-open" ></i>
                        <span>@CNPM_DOAN.Resources.Language.Bài_tập</span>
                    </a>
                </div>
            }
            else
            {
                <div class="menuitem uno" style="overflow:hidden;">
                    <a href="@Url.Action("showTKB","THOIKHOABIEUx", new { iduser = Session["IDUSER"]})">
                        <i class="fa-solid fa-calendar" style="margin-left: 5px; color: #FFFAFA;"></i>
                        <span>@CNPM_DOAN.Resources.Language.Thời_khóa_biểu</span>
                    </a>
                </div>
                <div class="menuitem dos" style="overflow:hidden;">
                    <a href="@Url.Action("ShowToDo","TODOes", new { iduser = Session["IDUSER"]})">
                        <i class="fa-sharp fa-solid fa-clipboard-check" style="margin-left: 5px; color: #FFFAFA;"></i>
                        <span>@CNPM_DOAN.Resources.Language.Danh_sách_nhiệm_vụ</span>
                    </a>
                </div>
                <div class="menuitem tres" style="overflow:hidden;">
                    <a href="@Url.Action("ShowMucTieu","MUCTIEUx", new { idus = Session["IDUSER"]})">
                        <i class="fa-solid fa-flag" style="margin-left: 5px; color: #FFFAFA;"></i>
                        <span>@CNPM_DOAN.Resources.Language.Mục_tiêu</span>
                    </a>
                </div>

                <div class="menuitem cuatro" style="overflow:hidden;">
                    <a href="@Url.Action("showTaiLieuHocTap", "TAILIEUx", new { idhocsinh = Session["IDUSER"] })">
                        <i class="fa-solid fa-user-group" style="color: #FFFAFA;"></i>
                        <span>@CNPM_DOAN.Resources.Language.Tài_liệu_học_tập</span>
                    </a>
                </div>
                <div class="menuitem cinco" style="overflow:hidden;">
                    <a href="@Url.Action("showBaiTap", "BAITAPs", new { iduser = Session["IDUSER"] })">
                        <i class="fa-solid fa-book-open" style="color: #FFFAFA;"></i>
                        <span>@CNPM_DOAN.Resources.Language.Bài_tập</span>
                    </a>
                </div>
            }
        </div>
    }


    @{Html.RenderAction("LoginUser", "NGUOIDUNGs");}
    @{Html.RenderAction("RegisterUser", "NGUOIDUNGs");}
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>